@import "../../../scss";

.section {
    width: 100%;
    margin-bottom: 40px;
    overflow: hidden;

    @include tablet {
        margin-bottom: 80px;
    }
}

.drinkList {
    display: grid;
    row-gap: 28px;
    grid-template-columns: repeat(1, 1fr);
    margin-top: 40px;

    @include tablet {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 20px;
        row-gap: 40px;
    }

        @include desktop {
        grid-template-columns: repeat(3, 1fr);
        column-gap: 20px;
        row-gap: 80px;
    }
}