@import "../../../../scss";

.wraper {
	margin-bottom: 80px;

	@include desktop {
		width: 540px;
	}
}

.counter {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 34px;
}

.ingredientsList {
	display: flex;
	flex-direction: column;
	gap: 18px;

	@include tablet {
		gap: 24px;
	}
}

.selectWraper {
	display: flex;
	gap: 8px;

	@include tablet {
		justify-content: space-between;
	}
}

.flexWraper {
	display: flex;
	gap: 8px;

	@include tablet {
		gap: 14px;
	}
}

.measureWraper {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 101px;
	height: 50px;
	background: transparent;
	border-radius: 200px;
	border: 1px solid rgba(243, 243, 243, 0.5);

	transition-property: border-color;
	transition-duration: $transitionDuration;
	transition-timing-function: $transitionTimingFunction;

	@include tablet {
		width: 150px;
		height: 56px;
	}

	&:hover,
	&:focus {
		border-color: $mainFontColor;
	}
}

.fieldStyle {
	width: 27px;
	margin-right: 5px;
	font-size: 14px;
	border: none;
	text-align: center;
	cursor: pointer;
	color: $mainFontColor;
	background-color: transparent;
	outline: none;
	font-size: 14px;
	line-height: calc(18 / 14);

	transition-property: border-color;
	transition-duration: $transitionDuration;
	transition-timing-function: $transitionTimingFunction;

	@include tablet {
		width: 35px;
		margin-right: 15px;
		margin-top: 3px;
		font-size: 18px;
		line-height: calc(26 / 18);
	}

	&:hover,
	:focus {
		border-color: $mainFontColor;
	}

	&::-webkit-outer-spin-button,
	&::-webkit-inner-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}
}

.ingredientsText {
	color: $mainFontColor;
	font-size: 28px;
	font-weight: $fontWeightSemiBold;
	line-height: calc(32 / 28);

	@include tablet {
		font-size: 40px;
		line-height: calc(44 / 40);
	}
}

.deleteBtn {
	background-color: transparent;
}

.deleteIcon {
	stroke: $mainBtnBackgroundColor;
	width: 18px;
	height: 18px;
	transition-property: border, stroke, border-radius;
	transition-duration: $transitionDuration;
	transition-timing-function: $transitionTimingFunction;

	@include tablet {
		width: 20px;
		height: 20px;
	}

	&:hover,
	:focus {
		stroke: rgba(243, 243, 243, 0.4);
		border: 1px solid $disabledBtnTextColor;
		border-radius: 50%;
	}
}
