@import "../../../../scss";

.wraper {
	margin-bottom: 80px;
}

.counter {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 34px;
}

.selectWraper {
	display: flex;
	gap: 8px;
}

.fieldStyle {
	// width: 100%;
	padding: 16px;
	color: $mainFontColor;
	background-color: transparent;
	outline: none;
	border: 1px solid rgba(243, 243, 243, 0.5);
	border-radius: 26px;
	opacity: 0.8;
	font-size: 14px;
	line-height: calc(18 / 14);
	// text-align: center;

	transition-property: border-color;
	transition-duration: $transitionDuration;
	transition-timing-function: $transitionTimingFunction;

	&:hover,
	:focus {
		border-color: $mainFontColor;
	}
}

.ingredientsText {
	color: $mainFontColor;
	font-size: 28px;
	font-weight: $fontWeightSemiBold;
	line-height: calc(32 / 28);
}

.deleteBtn {
	background-color: transparent;
}

.deleteIcon {
	stroke: $mainBtnBackgroundColor;

	transition-property: border, stroke, border-radius;
	transition-duration: $transitionDuration;
	transition-timing-function: $transitionTimingFunction;

	&:hover,
	:focus {
		stroke: rgba(243, 243, 243, 0.4);
		border: 1px solid $disabledBtnTextColor;
		border-radius: 50%;
	}
}
