@import "../../../../scss";

.wraper {
	margin-bottom: 80px;
}

.counter {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 34px;
}

.ingredientsList {
	display: flex;
	flex-direction: column;
	gap: 18px;
}

.ingredientsItem {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.selectWraper {
	display: flex;
	gap: 8px;
	// margin-right: 8px;
}

.measureWraper {
	display: flex;
	justify-content: center;
	align-items: center;
	// color: white;
	padding: 16px 12px;
	width: 101px;
	height: 50px;
	background: transparent;
	border-radius: 200px;
	border: 1px solid rgba(243, 243, 243, 0.5);

	transition-property: border-color;
	transition-duration: $transitionDuration;
	transition-timing-function: $transitionTimingFunction;

	&:hover,
	&:focus {
		border-color: $mainFontColor;
	}
}

.fieldStyle {
	width: 27px;
	height: 27px;
	font-size: 14px;
	border: none;
	text-align: center;
	cursor: pointer;

	// width: 100%;
	// padding: 16px;
	color: $mainFontColor;
	background-color: transparent;
	outline: none;
	font-size: 14px;
	line-height: calc(18 / 14);

	transition-property: border-color;
	transition-duration: $transitionDuration;
	transition-timing-function: $transitionTimingFunction;

	&:hover,
	:focus {
		border-color: $mainFontColor;
	}
}

.ingredientsText {
	color: $mainFontColor;
	font-size: 28px;
	font-weight: $fontWeightSemiBold;
	line-height: calc(32 / 28);
}

.deleteBtn {
	background-color: transparent;
}

.deleteIcon {
	stroke: $mainBtnBackgroundColor;

	transition-property: border, stroke, border-radius;
	transition-duration: $transitionDuration;
	transition-timing-function: $transitionTimingFunction;

	&:hover,
	:focus {
		stroke: rgba(243, 243, 243, 0.4);
		border: 1px solid $disabledBtnTextColor;
		border-radius: 50%;
	}
}
