@import "../../scss/";

.backdrop {
	position: fixed;
	left: 0;
	top: 0;

	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.817);
	z-index: 999999999999999;
}
