@import "../../scss";

.imageContainer {
	width: 335px;
	height: 320px;
	// flex-shrink: 0;
	border-radius: 8px;
	background: rgba(22, 31, 55, 0.5);
	// marginBottom: 8,
	// overflow: "hidden";
}

.btnContainer {
	width: 50px;
	height: 50px;
	margin-bottom: 16px;
	// flex-shrink: 0;
	border-radius: 6px;
	background: $mainFontColor;
	// cursor: pointer;
}

.btnIcon {
	// stroke: #161f37;
	// fill: #161f37;
	// color: #161f37;
	// background-color: transparent;
	background: transparent;
}

// .mainButton {
// 	padding: 14px 40px;

// border: none;
// border-radius: 42px;
// border: 2px solid transparent;
// background-color: $mainBtnBackgroundColor;

// color: $accentColor;
// font-size: $mainFontSize;
// line-height: 18px;
// font-weight: $fontWeightSemiBold;

// cursor: pointer;

// transition-property: border, background-color, color;
// transition-duration: $transitionDuration;
// transition-timing-function: $transitionTimingFunction;

// &:hover {
// 	color: $mainBtnBackgroundColor;
// 	background-color: $accentColor;
// }

// &:active {
// 	border: 2px solid $outlinBtnBackgroundColor;
// }

// &:disabled {
// 	color: $outlinBtnBackgroundColor;
// 	background-color: $disabledBtnBackgroundColor;
// 	border: 2px solid $disabledBtnBackgroundColor;
// }

// @include tablet {
// 	padding: 18px 44px;
// 	font-size: $SecondaryFontSize;
// }

// @include desktop {
// 	font-size: $SecondaryFontSize;
// }
// }

// .exampleButton {
// 	composes: mainButton;
// 	property: value;

// 	@include mobile {
// 		color: red;
// 	}

// 	@include tablet {
// 		color: teal;
// 	}

// 	@include desktop {
// 		color:black;
// 	}
// }
