// Font vars

$fontFamily: "Manrope", sans-serif;
$fontWeightRegular: 400;
$fontWeightMedium: 500;
$fontWeightSemiBold: 600;

$mainFontSize: 14px;
$SecondaryFontSize: 16px;

$mainFontColor: #f3f3f3;

// Color vars

$backgroundColor: #0a0a11;
$accentColor: #161f37;
$circleFirstColor: #4070cd;
$circleSecondColor: #bce6d2;

// Button vars

$mainBtnBackgroundColor: #f3f3f3;
$disabledBtnBackgroundColor: #434d67;
$disabledBtnTextColor: #434d67;

$outlinBtnBackgroundColor: #f3f3f333;

// Transition vars

$transitionDuration: 250ms;
$transitionTimingFunction: cubic-bezier(0.4, 0, 0.2, 1);
