// @import "../../scss/";

@import "../../../scss";

.section {
  padding-top: 80px;
  padding-bottom: 80px;

@include tablet {
    padding-top: 140px;
    padding-bottom: 136px;
  }

  @include desktop {
    flex-direction: row;
    gap: 94px;
    padding-top: 160px;
    padding-bottom: 140px;
  }
}
