@import "../../../../scss/";

.Container {
	margin-top: 20px;
	display: flex;
	gap: 14px;

	@include tablet {
		margin-top: 28px;
		gap: 16px;
	}

	@include desktop {
		margin-top: 40px;
		gap: 16px;
	}
}

.SocialLinksIcon {
	width: 22px;
	height: 22px;
	fill: white;

	@include tablet {
		width: 28px;
		height: 28px;
	}
}

.IconContainer {
	display: flex;
	flex-direction: column; /* Добавлено */
	align-items: center;
	justify-content: center;
	border: 1px solid rgba(243, 243, 243, 0.2);
	border-radius: 10px;
	padding: 8px;
	transition: border 0.3s ease;
}

.IconContainer:hover {
	border: 1px solid white;
}
