@import "../../../../scss";

.recipeText {
	margin-bottom: 40px;
	color: $mainFontColor;
	font-size: 28px;
	font-weight: $fontWeightSemiBold;
	line-height: calc(32 / 28);

	@include tablet {
		font-size: 40px;
		line-height: calc(44 / 40);
	}
}

.textareaStyle {
	width: 100%;
	padding: 16px;
	color: $mainFontColor;
	background-color: transparent;
	outline: none;
	border: 1px solid rgba(243, 243, 243, 0.5);
	border-radius: 14px;
	opacity: 0.8;
	font-size: 14px;
	line-height: calc(18 / 14);
	resize: none;

	transition-property: border-color;
	transition-duration: $transitionDuration;
	transition-timing-function: $transitionTimingFunction;

	@include tablet {
		width: 480px;
		padding: 14px 24px;
		font-size: 17px;
		line-height: calc(26 / 17);
		border-radius: 20px;
	}

	&:hover,
	:focus {
		border-color: $mainFontColor;
	}
}

.validate {
	margin-top: -36px;
	margin-bottom: 36px;
	margin-left: 16px;
	height: 20px;
	font-size: 12px;
	letter-spacing: 0.28px;
	color: #da1414;

	@include tablet {
		margin-top: -36px;
			margin-left: 24px;
		font-size: 14px;
	}
}
