@import "../../../scss/";

.imgBox {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	position: relative;

	@include tablet {
	}
}

.notFoundImg {
	position: relative;
	width: 375px;
	height: 476px;
	background: linear-gradient(177deg, #0a0a11 1.42%, rgba(10, 10, 17, 0) 24.97%),
		linear-gradient(282deg, #0a0a11 12.84%, rgba(10, 10, 17, 0) 58.63%),
		linear-gradient(359deg, #0a0a11 -1.94%, rgba(10, 10, 17, 0) 21.95%),
		linear-gradient(86deg, #0a0a11 8.41%, rgba(10, 10, 17, 0) 46.6%),
		url("../../../images/static/main/main.png"),
		lightgray -6.543px -70.346px / 103.995% 116.823% no-repeat;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	filter: brightness(1, 2);
	@include tablet {
		width: 465px;
		height: 517px;
	}
}
