.pageWrapFavorite {
	padding-top: 80px;
}

@media (min-width: 768px) {
	.pageWrapFavorite {
		padding-top: 140px;
	}
}

@media (min-width: 1280px) {
	.pageWrapFavorite {
		padding-top: 158px;
	}
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 16px;
}
