@import '../../../scss/';

.defaultImageBg {
    width: 157px;
    height: 157px;
    background-color: $accentColor;
    opacity: 50%;
    position: relative;

    @include tablet {
        width: 220px;
        height: 220px;
    }
}

.defaultImageIcon {
    width: 89px;
    height: 91px;
    opacity: 10%;
    position: absolute;
    padding: auto;
}