@import "../../components/MainButton/MainButton.module.scss";

.heroTitle {
	width: 715px;
	margin-left: auto;
	margin-right: auto;
}

// ============================================

// .heroButton {
// composes: mainButton;
// margin-top: 150px;
// property: value;

// @include mobile {
// 	color: red;
// }

// @include tablet {
// 	color: teal;
// }

// @include desktop {
// 	color:black;
// }
// }
