@import "../../scss/";
.section {
	width: 100%;
	margin-top: 40px;
	overflow: hidden;
	padding: 0;
	@include tablet {
		margin-top: 60px;
	}
	@include desktop {
		margin-top: 62px;
	}
}
.recipesList {
	display: grid;
	row-gap: 28px;
	grid-template-columns: repeat(1, 1fr);

	@include tablet {
		grid-template-columns: repeat(2, 1fr);
		column-gap: 20px;
		row-gap: 40px;
	}

	@include desktop {
		grid-template-columns: repeat(3, 1fr);
		column-gap: 20px;
		row-gap: 80px;
	}
}
