@import "../../../scss";

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px;
	border-bottom: 1px solid rgba(243, 243, 243, 0.2);

	@include tablet {
		padding: 20px 32px;
	}

	@include desktop {
		justify-content: space-between;
		padding: 20px;
		max-width: 1280px;
		margin-left: auto;
		margin-right: auto;
	}
}
