@import "../../../../scss/";

.list_items {
	display: flex;
	flex-direction: column;
	gap: $mainFontSize;

	@include tablet {
		margin-top: 40px;
	}

	@include desktop {
		margin-top: 0;
		gap: $SecondaryFontSize;
		margin-left: 389px;
	}
}

.link_nav {
	font-weight: 500;
	font-size: $mainFontSize;
	line-height: 22.4px;
	color: $mainFontColor;
	position: relative;
	transition: color 0.3s ease-in-out;

	&:hover {
		color: #dcdcdc;
	}

	&::before {
		content: "";
		position: absolute;
		bottom: -2px;
		left: 0;
		width: 0;
		height: 2px;
		background-color: $mainFontColor;
		transition: width 0.3s ease-in-out;
	}

	&:hover::before {
		width: 100%;
	}

	&.active_link {
		color: #dcdcdc;
		&::before {
			width: 100%;
		}
	}
}
