@import "../../../scss/";

.containerLayout {
	width: 100vw;
	height: 100vh;
	display: flex;
	background-size: contain;
	justify-content: center;
	align-items: center;
	background-position: right;
	background-repeat: no-repeat;
	background-image: linear-gradient(to right, rgba(6, 6, 9, 1), rgba(10, 10, 17, 0)),
		url("/src/images/static/welcome/welcomesm@1x.png");
	@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
		background-image: linear-gradient(to right, rgba(6, 6, 9, 1), rgba(10, 10, 17, 0)),
			url("/src/images/static/welcome/welcomesm@2x.png");
	}

	@include tablet {
		justify-content: left;
		padding-left: 64px;
		background-image: linear-gradient(to right, rgba(6, 6, 9, 1), rgba(10, 10, 17, 0)),
			url("/src/images/static/welcome/welcomemd@1x.png");
		@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
			background-image: linear-gradient(to right, rgba(6, 6, 9, 1), rgba(10, 10, 17, 0)),
				url("/src/images/static/welcome/welcomemd@2x.png");
		}
	}

	@include desktop {
		justify-content: left;
		padding-left: 100px;
		background-image: linear-gradient(to right, rgba(6, 6, 9, 1), rgba(10, 10, 17, 0)),
			url("/src/images/static/welcome/welcome@1x.png");
		@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
			background-image: linear-gradient(to right, rgba(6, 6, 9, 1), rgba(10, 10, 17, 0)),
				url("/src/images/static/welcome/welcome@2x.png");
		}
	}
}

.gradientContainer {
	width: 50vw;
	height: 130vh;
	background: radial-gradient(ellipse, rgba(64, 112, 205, 0.5), transparent);
	top: -50%;
	left: -28%;
	z-index: 3;
	border-radius: 50%;

	position: absolute;
	filter: blur(50px);
}
.circleContainer {
	width: 32vw;
	height: 75vh;
	background: radial-gradient(circle, rgba(188, 230, 210, 0.4), transparent);

	filter: blur(40px);
	top: -35%;
	left: 10%;
	z-index: 10;
	border-radius: 50%;

	position: absolute;
}
