@import "../../../../scss";

.wraper {
	margin-bottom: 80px;
}

.imageContainer {
	// width: 335px;
	height: 320px;
	display: flex;

	justify-content: center;
	align-items: center;
	gap: 18px;
	margin-top: 40px;
	margin-bottom: 40px;
	border-radius: 8px;
	background: rgba(22, 31, 55, 0.5);
	border: 1px solid rgba(22, 31, 55, 0.5);
	cursor: pointer;
	transition-property: border-color, border;
	transition-duration: $transitionDuration;
	transition-timing-function: $transitionTimingFunction;

	&:hover,
	&:focus {
		border: 1px solid rgba(243, 243, 243);
	}
}

.image {
	height: 100%;
	width: 100%;
	object-fit: cover;
	border-radius: 8px;
}

.imageInput {
	display: none;
}

.btnContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50px;
	height: 50px;
	border-radius: 6px;
	background: $mainFontColor;
}

.btnIcon {
	stroke: $accentColor;
}

.btnText {
	font-size: 16px;
	font-weight: $fontWeightMedium;
	line-height: calc(20 / 16);
}

.inputWraper {
	display: flex;
	flex-direction: column;
	gap: 4px;
	width: 100%;
}

.fieldStyle {
	font-size: 14px;
	letter-spacing: -0.28px;
	padding-bottom: 14px;
	color: $mainFontColor;
	background-color: transparent;
	outline: none;
	border: none;
	border-bottom: 1px solid rgba(243, 243, 243, 0.5);

	transition-property: border-color;
	transition-duration: $transitionDuration;
	transition-timing-function: $transitionTimingFunction;

	&:hover,
	:focus {
		border-color: $mainFontColor;
	}
}

.validate {
	height: 30px;
	font-size: 12px;
	letter-spacing: 0.28px;
	color: #da1414;
}

.selectWrapper {
	cursor: pointer;
	display: flex;
	justify-content: space-between;
	align-items: start;
	height: 34px;
	padding-bottom: 14px;
	border-bottom: 1px solid;
	border-color: rgba(243, 243, 243, 0.5);

	transition-property: border-color;
	transition-duration: $transitionDuration;
	transition-timing-function: $transitionTimingFunction;

	&:focus,
	&:active,
	&:hover,
	&::selection {
		outline: none;
		border-color: $mainFontColor;
	}
}

.margin {
	display: flex;
	flex-direction: column;
	gap: 34px;
}

.labelSelect {
	color: rgba(243, 243, 243, 0.5);
	font-size: 14px;
	letter-spacing: -0.28px;
	cursor: pointer;
}
