@import "../../scss";

.containerWelcome {
	max-width: 335px;
	position: relative;
	text-align: center;
	// top: 50%;
	// left: 50%;
	// transform: translate(-50%, -50%);

	@media screen and (min-width: 768px) {
		max-width: 470px;
	}

	@media screen and (min-width: 1280px) {
		max-width: 485px;
	}
}
.titleStart {
	font-weight: 600;
	font-size: 28px;
	line-height: calc(32 / 28);
	text-align: center;
	margin-top: 304px;

	@media screen and (min-width: 768px) {
		font-size: 40px;
		text-align: left;
		margin-top: 400px;
	}

	@media screen and (min-width: 1280px) {
		margin-top: 273px;
	}
}

.textStart {
	font-size: 14px;
	line-height: calc(18 / 14);
	text-align: center;

	margin-top: 14px;

	@media screen and (min-width: 768px) {
		font-size: 28px;
		text-align: left;
	}

	@media screen and (min-width: 1280px) {
		font-size: 18px;
		text-align: left;
	}
}

.listStart {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 14px;
	margin-top: 40px;

	@media screen and (min-width: 768px) {
	}

	@media screen and (min-width: 1280px) {
		justify-content: flex-start;
		margin-bottom: 400px;
	}
}
.btnStart {
	font-size: 16px;
	line-height: calc(18 / 16);
	font-weight: 600;

	background: transparent;
	color: #f3f3f3;
	border-width: 1px;
	border-radius: 42px;
	border-color: rgba(243, 243, 243, 0.2);
	cursor: pointer;

	&:hover {
		background: #f3f3f3;
		color: #161f37;
	}
}
.image {
	position: absolute;
	top: 0;
	left: 0px;
	overflow: hidden;
	transform: translateX(40%);
}
