@import "../../../scss/";

.section {
	width: 335px;
	height: 448px;
	margin: 0 auto 40px auto;
	overflow: hidden;

	@include tablet {
		width: 704px;
		height: 482px;
		margin: 0 auto 80px auto;
	}

	@include desktop {
		width: 1240px;
		height: 522px;
		margin: 0 auto 80px auto;
	}
}

.sectionTitle {
	color: #f3f3f3;
	font-family: Manrope, sans-serif;
	font-size: 28px;
	font-weight: 600;
	line-height: 32px;
	margin-bottom: 24px;

	@include tablet {
		wifont-size: 40px;
		line-height: 44px;
		margin-bottom: 40px;
	}
}

.sectionList {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	gap: 20px;
}

// .cardwrapper {
// 	position: relative;
// 	width: 400px;
// 	height: 438px;
// 	margin-left: auto;
// 	margin-right: auto;
// display: flex;
// gap: 20px;
// justify-content: space-between;
// }

// export const Drinktitle = styled.p`
//   margin-bottom: 24px;
//   color: #f3f3f3;
//   font-family: Manrope, sans-serif;
//   font-size: 28px;
//   font-weight: 600;
//   line-height: 32px;
// `;

// .image {
// 	position: absolute;
// 	border-radius: 15px;
// 	display: block;
// 	width: 400px;
// 	height: 400px;
// }

// export const Ingredientswrapper = styled.div`
//   margin-top: 14px;
//   display: flex;
//   justify-content: space-between;
// `;

// export const Drinkingreds = styled.p`
//   color: #f3f3f3;
//   font-family: Manrope, sans-serif;
//   font-size: 16px;
//   font-weight: 500;
//   line-height: 18px;
// `;
// export const Ingredients = styled.span`
//   color: rgba(243, 243, 243, 0.5);
//   font-family: Manrope, sans-serif;
//   font-size: 14px;
//   font-weight: 500;
//   line-height: 18px;
// `;
