@import "node_modules/modern-normalize/modern-normalize.scss";
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600&display=swap");

@import "./scss/module";

html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
}
body {
	font-family: $fontFamily;
	font-weight: $fontWeightRegular;
	color: $mainFontColor;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	background-color: $backgroundColor;
}

ol,
ul {
	list-style: none;
}

a {
	text-decoration: none;
	color: inherit;
}
