@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600&display=swap");

@import "./scss";
@include tablet {
	body {
		overflow-x: hidden;
	}
}

html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
}

body {
	font-family: $fontFamily;
	font-weight: $fontWeightRegular;
	color: $mainFontColor;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	background-color: $backgroundColor;
}

ol,
ul {
	list-style: none;
}

button {
	border: none;
	cursor: pointer;
}

img,
picture,
svg {
	display: block;
	max-width: 100%;
}

a {
	text-decoration: none;
	color: inherit;
}

.item-enter {
	opacity: 0;
	transform: scale(0.7);
}
.item-enter-active {
	opacity: 1;
	transform: translateX(0);
	transition: opacity $transitionDuration $transitionTimingFunction,
		transform $transitionDuration $transitionTimingFunction;
}
.item-exit {
	opacity: 1;
}
.item-exit-active {
	opacity: 0;
	transform: scale(0.7);
	transition: opacity $transitionDuration $transitionTimingFunction,
		transform $transitionDuration $transitionTimingFunction;
}

.burger-enter {
	opacity: 0;
	transform: translateX(100%);
}
.burger-enter-active {
	opacity: 1;
	transform: translateX(0);
	transition: opacity $transitionDuration $transitionTimingFunction,
		transform $transitionDuration $transitionTimingFunction;
}
.burger-exit {
	opacity: 1;
}
.burger-exit-active {
	opacity: 0;
	transform: translateX(100%);
	transition: opacity $transitionDuration $transitionTimingFunction,
		transform $transitionDuration $transitionTimingFunction;
}
