.heroSection {
	background-image: url("../../images/static/main/main.jpg");
	background-position: top 0px right;
	background-repeat: no-repeat;
	background-size: auto;
	margin-bottom: 100px;
	background-size: contain;
}

.heroContainer {
	padding: 164px 0px 200px 0px;
	width: 68%;
	overflow: hidden;
	padding: 244px 0px 300px 0px;
}
