@import "../../../../../scss";

.wraper {
	width: 104px;
	height: 38px;
	padding: 10px 16px;
	display: flex;
	gap: 16px;
	align-items: center;
	border-radius: 200px;
	border: 1px solid rgba(243, 243, 243, 0.5);

	transition-property: border-color;
	transition-duration: $transitionDuration;
	transition-timing-function: $transitionTimingFunction;

	&:hover,
	&:focus {
		border-color: $mainFontColor;
	}
}

.icon {
	stroke: rgba(243, 243, 243, 0.3);
	background-color: $backgroundColor;

	transition-property: stroke, scale;
	transition-duration: $transitionDuration;
	transition-timing-function: $transitionTimingFunction;

	&:hover,
	:focus {
		scale: 1.15;
		stroke: $mainFontColor;
	}
}
