/* .paginator {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px; /* Расстояние между кнопками */
/* margin-top: 20px;
} */

ul {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px; /* Расстояние между кнопками */
	margin-top: 20px;
}
