@import "../../scss";

.section {
	@include tablet {
	}
	@include desktop {
	}
}

ul {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
	margin-top: 20px;
	font-size: 12px;
}
